

services:
  app:
    environment:
      APP_ENV: local
      APP_DEBUG: true
    volumes:
      - .:/app
      - ./storage:/app/storage
      - ./bootstrap/cache:/app/bootstrap/cache

  horizon:
    environment:
      APP_ENV: local
      APP_DEBUG: true
    volumes:
      - .:/app
      - ./storage:/app/storage
      - ./bootstrap/cache:/app/bootstrap/cache
    command: php artisan horizon 